@model ReefTrack.Models.Coral

@{
    ViewData["Title"] = "Ta bort";
}

<h1>Ta bort</h1>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatinName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatinName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aquarium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aquarium.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka</a>
    </form>
</div>
