@model IEnumerable<ReefTrack.Models.Coral>

@{
    ViewData["Title"] = "Mina koraller";
}

<h1>Mina koraller</h1>

<p>
    <a asp-action="Create">Lägg till ny korall</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Bild
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatinName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aquarium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageName))
                {
                    <img src="~/images/coral/@item.ImageName" alt="Bild på @item.CommonName" class="img-thumbnail fish-image-list" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatinName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aquarium.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
