@model Reeftrack.Models.Aquarium

@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>

<div>
    <h4>Mitt akvarium</h4>

    @if (!string.IsNullOrEmpty(Model.ImageName))
        {
            <img src="~/images/@Model.ImageName" alt="Bild på akvarium" class="img-thumbnail" style="max-width: 200px;" />
        }
        
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Redigera</a> |
    <a asp-action="Index">Tillbaka till mina akvarium</a>
</div>

<hr>

<h3>Fiskar i akvariet</h3>
@if (Model.Fishes != null && Model.Fishes.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Bild</th>
                <th>Namn</th>
                <th>Latinskt namn</th>
                <th>Art</th>
                <th>Antal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fish in Model.Fishes)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(fish.ImageName))
                        {
                            <img src="~/images/fish/@fish.ImageName" alt="Bild på @fish.CommonName" class="img-thumbnail" style="max-width: 100px;" />
                        }
                    </td>
                    <td>@fish.CommonName</td>
                    <td>@fish.LatinName</td>
                    <td>@fish.Species</td>
                    <td>@fish.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Inga fiskar registrerade i detta akvarium.</p>
}

<hr>

<h3>Koraller i akvariet</h3>
@if (Model.Corals != null && Model.Corals.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Latinskt namn</th>
                <th>Art</th>
                <th>Antal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coral in Model.Corals)
            {
                <tr>
                    <td>@coral.CommonName</td>
                    <td>@coral.LatinName</td>
                    <td>@coral.Species</td>
                    <td>@coral.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Inga koraller registrerade i detta akvarium.</p>
}

